<div class="career">
    <div class="introduction">
        <div class="container">
            <div class="row top-layer">
                <div class="left-column col-md-6">
                    <h1>Take your career to new heights</h1>
                    <h4>We think you'll love it here</h4>
                    <button>see all positions</button>
                </div>
                <div class="right-column col-md-6"><img src="assets/career.png" alt=""></div>
            </div>
        </div>
    </div>
    <div class="text-section">
            <h6>Lorem ipsum dolor sit amet consectetur.</h6>
            <strong class="col-6"><h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, consequatur. Laudantium quidem, corrupt.</h1></strong>
            <h6>Lorem ipsum dolor sit.</h6>
            <p class="col-6">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga obcaecati necessitatibus tempora excepturi error dolorem in sint voluptas aperiam, dicta, animi labore voluptates quo voluptatem sit quidem minus voluptate eaque iure molestias modi minima quisquam? Consequuntur quos, nisi possimus consequatur sunt eligendi unde sint, numquam odit earum minus perspiciatis accusamus?</p>
    </div>
</div>

