<div class="career">
    <div class="introduction">
        <div class="container">
            <div class="row top-layer">
                <div class="left-column col-md-6">
                    <h1>Take your career to new heights</h1>
                    <h4>We think you'll love it here</h4>
                    <button>see all positions</button>
                </div>
                <div class="right-column col-md-6"><img src="assets/career.png" alt=""></div>
            </div>
        </div>
    </div>
    <div class="text-section">
            <div class="content container">
            <h6>Lorem ipsum dolor sit amet consectetur.</h6>
            <strong><h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti,.</h1></strong>
            <h6>Lorem ipsum dolor sit.</h6>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga obcaecati necessitatibus tempora excepturi error dolorem in sint voluptas aperiam, dicta, animi labore voluptates quo voluptatem sit quidem minus voluptate eaque iure molestias modi minima quisquam? Consequuntur quos, nisi possimus consequatur sunt</p>
            </div>
    </div>
</div>

<div class="postings">
    <div class="department container">Software Development</div>
    <div class="row jobs" *ngFor="let i of [1,2,3]">
        <div class="col-md-4 job-description" *ngFor="let j of [1,2,3]" >
            <h6>Lorem ipsum dolor sit amet consectetur.</h6>
            <ul>
                <li>Lorem, ipsum dolor.</li>
                <li>Lorem, ipsum dolor.</li>
                <li>Lorem, ipsum dolor.</li>
            </ul>
            <a href="">Apply Now</a>
        </div>
    </div>
</div>

