<section class="client-section">
  <div class="description">
    <h4>"lorem ipsum dolor sit amet."</h4>
    <h3>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, eius.
    </h3>
  </div>
  <div class="clients container">
    <div class="row icons">
    <div class="first boxes col-sm-3"><img src="assets/paypal.png" alt="" /></div>
    <div class="second boxes col-sm-3"><img src="assets/paypal.png" alt="" /></div>
    <div class="third boxes col-sm-3"><img src="assets/paypal.png" alt="" /></div>
    <div class="fourth boxes col-sm-3"><img src="assets/paypal.png" alt="" /></div>
  </div>
  </div>
</section>
