<section class="client-section">
  <div class="description">
    <h4>"lorem ipsum dolor sit amet."</h4>
    <h3>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, eius.
    </h3>
  </div>
  <div class="clients">
    <div class="first boxes"><img src="assets/paypal.png" alt="" /></div>
    <div class="second boxes"><img src="assets/paypal.png" alt="" /></div>
    <div class="third boxes"><img src="assets/paypal.png" alt="" /></div>
    <div class="fourth boxes"><img src="assets/paypal.png" alt="" /></div>
    <div class="fifth boxes"><img src="assets/paypal.png" alt="" /></div>
  </div>
</section>
