.policy-content{
    font-family: 'Open Sans', sans-serif;
    margin-top: 81px;
    h1{
        font-size: 4em;
    }
    p{
        font-size: 1em;
    }
}

//banner new
// auto scroll carousel our customers
//legal home
//career information info capture first last email resume ar u robot?
//googlecaptcha
//term & conditions
//Services done
//neuralnetwork video player custom video player plugin done
// customer regions, our presence, metadatafellow, global experts. done
//social media icons footers done
//icons for bi tools done
