<div class="footer">
    <div class="row footer-content">
        <div class="col-md-3 content">
            <ul>
                <li><h5>Lorem</h5></li>
                <li>Lorem ipsum dolor sit</li>
                <li>Lorem ipsum dolor sit</li>
                <li>Lorem </li>
                <li>Lorem ipsum dolor</li>
                <li>Lorem ipsum dolor sit</li>
                <li>Lorem ipsum </li>
            </ul>
        </div>
        <div class="col-md-3 content">
            <ul>
                <li><h5>Lorem, ipsum dolor</h5></li>
                <li>Lorem</li>
                <li>Lorem</li>
                <li>Lorem</li>
                <li>Lorem</li>
            </ul>
        </div>
        <div class="col-md-2 content">
            <ul>
                <li><h5>Lorem</h5></li>
                <li>Lorem ipsum dolor sit</li>
                <li>Lorem</li>
                <li>Lorem ipsum dolor sit</li>
            </ul>
        </div>
        <div class="col-md-4 contacts">
            <h3>Need help?</h3>
            <h4>Visit customer care.</h4>
            <h5>Contact us on</h5>
            <div class="social-contacts">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-facebook"></i>
            </div>
        </div>
        <div class="row copyright"></div>
    </div>
   </div>