
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.footer{
    background-color: #323232;
    padding: 20px 0px;
    }
    .footer-content{
            .content{
                display: flex;
                justify-content: center;
                margin: 0px;
                color: white;
                ul{
                    li{
                        list-style: none;
                        margin: 10px;
                        cursor: pointer;
                        font-family: 'Dosis', sans-serif;
                        h5{
                            margin-bottom: 30px;
                            color: white;
                            font-family: 'Noto Sans', sans-serif;
                        }
                    }
                }
            }
            .contacts{
                border-left: white solid 2px;
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 20px;
                color: white;
                margin: 10px 0px;
                h3{
                    color: white;
                }
                .social-contacts{
                    a{
                        color: white;
                        fa-icon{
                            font-size: 40px;
                            margin: 0px 15px;
                        }
                    }
                }
            }
    }


