<div class="footer">
    <div class="container">
        <div class="footer-row row">
                <div class="col-md-6 contacts">
                    <div class="goodbyemsg col-8">
                        <img src="assets/favicon.png" alt="">
                        <h5>Lorem ipsum, dolor sit amet</h5>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex dolores autem aperiam vel soluta</p>
                        <h6>Made with 🤍 in India</h6>
                    </div>
                    <!-- <div class="social-contacts">
                        <a href=""><fa-icon [icon]="faFacebook"></fa-icon></a>
                        <a href=""><fa-icon [icon]="faTwitter"></fa-icon></a>
                        <a href=""><fa-icon [icon]="faInstagram"></fa-icon></a>
                        <a href=""><fa-icon [icon]="faLinkedin"></fa-icon></a>
                    </div> -->
                </div>
                <div class="col-md-6 left-footer">
                    <div class="footer-content">
                        <div class=" content">
                            <ul>
                                <li><h5>Lorem</h5></li>
                                <li>Lorem</li>
                                <li>Lorem</li>
                                <li>Lorem </li>
                                <li>Lorem </li>
                            </ul>
                        </div>
                        <div class="content">
                            <ul>
                                <li><h5>Lorem</h5></li>
                                <li>Lorem</li>
                                <li>Lorem</li>
                                <li>Lorem</li>
                                <li>Lorem</li>
                            </ul>
                        </div>
                        <div class="content">
                            <ul>
                                <li><h5>Lorem</h5></li>
                                <li>Lorem</li>
                                <li>Lorem</li>
                                <li>Lorem</li>
                                <li>Lorem </li>
                            </ul>
                        </div>
                    </div>
                    <div class="copyright">
                        <ul>
                            <li>License</li>
                            <li>Terms of Service</li>
                            <li>Privacy Policy</li>
                            <li>Refunds</li>
                            <li>© Metadata, Inc.</li>
                        </ul>
                       </div>
                </div>
           </div>
    </div>
</div>