.navbar{
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: white;
    z-index: 1;
    height: 98px;
    .content{
        border-bottom: 1px black solid;
        display: flex;
        .logo{
            margin: 15px;
            img{
                width: 250px;
            }
        }
        .pages{
            ul{
                display: flex;
                li{
                    list-style: none;
                    margin: 0px 20px;
                    a{
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }
    }
}
button{
    display: none;
}
li::after{
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: black;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: left;
}

li:hover::after{
    transform: scaleX(1);
    
}


@media screen and (max-width:992px) {
    .navbar{
        .pages{
            display: none;
        }
        button{
            display: block;
        }
    }
    .mobile-nav{
        height: 100vw;
        width: 100%;
        position: fixed;
        top: 98px;
        z-index: 1;
        .mobile-content{
            background-color: white;
            height: 100vh;
            width: 100%;
            ul{
                display: flex;
                flex-direction: column;
                gap: 50px;
                li{
                    list-style: none;
                    margin: 0px 20px;
                    a{
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }
    }
}
