<div class="customer-story">
  <ul class="nav nav-tabs">
    <li
      class="nav-item"
      *ngFor="let tab of [1, 2, 3, 4]; let i = index"
      (click)="makeActive(i)"
    >
      <a
        class="nav-link"
        [ngClass]="activeTab == i ? 'active' : ''"
        aria-current="page"
        [ngStyle]="activeTab == i ? stylesTab : null"
        ><img src="assets/paypal-colour.png" alt=""
      /></a>
    </li>
  </ul>
  <div class="banner" *ngFor="let tablePanel of tablePanels; let j = index">
    <div class="panel" [ngStyle]="activeTab == j ? stylesPanel : null">
      <div class="content-container">
        <div class="image-container">
          <img src="{{ tablePanel }}" alt="" />
        </div>
        <div class="text-content col-3">
          <h2>Lorem ipsum dolor sit amet, consectetur adipisicing.</h2>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique
            error laudantium ea vero sint ad animi, suscipit, eveniet
            repellendus placeat eligendi tempora iste in porro hic sit veniam
            tempore laborum eaque praesentium iure a quis amet! Dolorum dicta
          </p>
          <button>More info..</button>
        </div>
      </div>
    </div>
  </div>
</div>
