<div class="Section">
    <div class="row-1">
        <h2>Lorem ipsum dolor sit.</h2>
    </div>
    <div class="row-2">
        <ul class="presentation" role="tablist" aria-label="Sample Tabs">
            <li class="present"><button role="tab"  aria-selected="true" aria-controls="panel-1" id="tab-1" tabindex="0">
                    <img src="assets/paypal-colour.png" alt="">
                </button></li>
            <li class="present"><button role="tab"  aria-selected="false" aria-controls="panel-2" id="tab-2" tabindex="-1">
                    <img src="assets/paypal-colour.png" alt="">
                </button></li>
            <li class="present"><button role="tab"  aria-selected="false" aria-controls="panel-3" id="tab-3" tabindex="-1">
                    <img src="assets/paypal-colour.png" alt="">
                </button></li>
            <li class="present"><button role="tab"  aria-selected="false" aria-controls="panel-4" id="tab-4" tabindex="-1">
                    <img src="assets/paypal-colour.png" alt="">
                </button></li>
        </ul>
    </div>
        <section role="tabpanel" id="panel-1" role="tabpanel" tabindex="0" aria-labelledby="tab-1">1</section>
        <section role="tabpanel" id="panel-2" role="tabpane2" tabindex="-1" aria-labelledby="tab-2" hidden>2</section>
        <section role="tabpanel" id="panel-3" role="tabpane3" tabindex="-1" aria-labelledby="tab-3" hidden>3</section>
        <section role="tabpanel" id="panel-4" role="tabpane4" tabindex="-1" aria-labelledby="tab-4" hidden>4</section>
</div>