.customer-story{
    margin: 100px;
    padding: 50px;
    .nav-tabs {
        margin: 50px;
        display: flex;
        justify-content: center;
        gap: 20px;
        border: 0px;
      
        .nav-item {
          .nav-link {
            border: 0px;
            cursor: pointer;
            filter: grayscale(100%);
            img {
              width: 200px;
            }
          }
        }
      }
      
      .banner {
        display: flex;
        align-items: center;
        justify-content: center;
        .panel {
          display: none;
          .content-container{
            display: flex;
            align-items: center;
            .image-container{
              z-index: -1;
              position: relative;
              left: 300px;
              img{
                width: 1000px;
                height: 500px;
              }
              }
              .text-content{
                background-color: white;
                box-shadow: 5px 5px 5px rgb(0, 0, 0);
                padding: 30px;
                position: relative;
                margin: 0px;
                left: -200px;
                button{
                  background-color: rgb(202, 245, 173);
                  border: 0px;
                  border-radius: 20px;
                  padding: 10px 20px;
                }
              }
          }
        }
      }
      
}