<div class="col-12">
    <app-metadata-element></app-metadata-element>
    <!-- <app-header></app-header> -->
     <!-- <app-hero-header></app-hero-header> -->
     <app-clients></app-clients>
    <app-timeline></app-timeline>
    <!-- <app-features></app-features> -->
    <app-reviews></app-reviews>
    <app-information-section></app-information-section>
    <app-integration></app-integration>
    <app-demo></app-demo>
    <!-- <app-banner></app-banner> -->
    <app-customer-story></app-customer-story>
    <app-socialposts></app-socialposts>
    <app-slider></app-slider>
    <app-worldmap></app-worldmap>
</div>
    