<div class="demo-section">
    <h1>Lorem ipsum dolor sit amet.</h1>
    <div class="lower-content container">
        <div class="left-information col-5 col-sm">
            <h2>Lorem ipsum dolor sit.</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, labore pariatur assumenda delectus
                ab minus totam non illo perspiciatis dolorem sapiente quisquam dolor enim voluptate dolores, nisi
                voluptatibus fugit dolore aliquid ipsam vitae impedit, porro amet. Error adipisci rem reiciendis!</p>
            <span><a href="">Click to know more..></a></span><span><a href="">Watch Live...></a></span>
        </div>
        <div class="right-video">
            <iframe width="500" height="315" src="https://www.youtube.com/embed/tgbNymZ7vqY">
            </iframe>
        </div>
    </div>
</div>