<div class="container">
  <div class="demo-section">
    <h1>Lorem ipsum dolor sit amet.</h1>
    <div class="lower-content row">
      <div class="left-information col-lg-4">
        <h2>Lorem ipsum dolor sit.</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo,
          labore pariatur assumenda delectus ab minus totam non illo
          perspiciatis dolorem sapiente quisquam dolor enim voluptate dolores,
          nisi voluptatibus fugit dolore aliquid ipsam vitae impedit, porro
          amet. Error adipisci rem reiciendis!
        </p>
        <span><a href="">Click to know more..></a></span
        ><span><a href="">Watch Live...></a></span>
      </div>
      <div class="right-video col-lg-8">
        <vg-player>
          <vg-overlay-play></vg-overlay-play>
          <vg-buffering></vg-buffering>
          <vg-scrub-bar>
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
          </vg-scrub-bar>
          <vg-controls>
            <vg-play-pause></vg-play-pause>
            <vg-playback-button></vg-playback-button>
            <vg-time-display
              vgProperty="current"
              vgFormat="mm:ss"
            ></vg-time-display>
            <vg-scrub-bar style="pointer-events: none"></vg-scrub-bar>
            <vg-time-display
              vgProperty="left"
              vgFormat="mm:ss"
            ></vg-time-display>
            <vg-time-display
              vgProperty="total"
              vgFormat="mm:ss"
            ></vg-time-display>
            <vg-track-selector></vg-track-selector>
            <vg-mute></vg-mute>
            <vg-volume></vg-volume>
            <vg-fullscreen></vg-fullscreen>
          </vg-controls>
          <video
            [vgMedia]="$any(media)"
            #media
            id="singleVideo"
            preload="auto"
            crossorigin
          >
            <source
              src="assets/Neural Network In 5 Minutes _ What Is A Neural Network_ _ How Neural Networks Work _ Simplilearn.mp4"
              type="video/mp4"
            />
            <source
              src="https://www.youtube.com/watch?v=bfmFfD2RIcg&feature=youtu.be"
              type="video/ogg"
            />
            <source
              src="https://www.youtube.com/watch?v=bfmFfD2RIcg&feature=youtu.be"
              type="video/webm"
            />
            <track
              kind="subtitles"
              label="English"
              src="assets/Neural Network In 5 Minutes _ What Is A Neural Network_ _ How Neural Networks Work _ Simplilearn.mp4"
              srclang="en"
              default
            />
            <track
              kind="subtitles"
              label="Español"
              src="assets/Neural Network In 5 Minutes _ What Is A Neural Network_ _ How Neural Networks Work _ Simplilearn.mp4"
              srclang="es"
            />
          </video>
        </vg-player>
      </div>
    </div>
  </div>
</div>
