.demo-section {
    font-family: "Montserrat", sans-serif;
    h1{
        text-align: center;
    }
    .lower-content {
        padding: auto;
        display: flex;
        align-items: center;
        .left-information {
            span {
                margin-right: 50px;
                font-weight: 600;

                a {
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }
    .right-video{
        border: 2px thick black solid;
        vg-player{
            width: 889px;
            height: 500px;
            z-index: 0;
        }
    }
}

@media screen and (max-width:1390px) {

}