<div class=" metadata-element">
    <div class="hero-header row">
    <div class="left-content col-md-6">
      <div>
        <h1>Where Data Meets Discovery: Your Analytics Journey Begins</h1>
        <p>
          signifies the convergence of data and exploration, marking the outset
          of your transformative analytics journey. It encapsulates the
          excitement of uncovering insights within data and portrays the
          platform as the starting point for users to embark on their path to
          data-driven discoveries
        </p>
        <a href="/" class="Demo-button">Request Demo</a>
      </div>
    </div>
    <div class="right-content col-md-6">
      <div class="image-container">
        <img src="assets/GLOBE.png" alt="" />
      </div>
    </div>
  </div>
</div>
