html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
app-features{
    display: none;
}
app-banner{
    display: none;
}
app-customer-story{
    display: none;
}