.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  font-family: Montserrat, sans-serif;

  .text-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    width: 40%;

    strong {
      h1 {
        font-size: 65px;
      }
    }
  }

  .team-image {
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;

    img {
      width: 50%;
    }
  }
  .clients {
    width: 50%;
    text-align: center;
    .icons {
      .boxes {
        display: flex;
        justify-content: center;
        img {
          margin: 5px 5px;
          width: 80%;
        }
      }
    }
  }
  .demo-section {
    display: flex;
    justify-content: center;
    .demo {
      padding: 50px;
      margin-top: 50px;
      margin-bottom: 50px;
      color: white;
      border-radius: 20px;
      background-color: #183153;
      width: 80%;
      button {
        border: 0px;
        background-color: white;
        padding: 10px;
        border-radius: 50px;
      }
    }
  }
}

@media screen and (max-width: 1052px) {
  .about-us {
    .text-content {
      h5 {
        font-size: 25px;
      }
      p {
        font-size: 15px;
      }
      strong {
        h1 {
          font-size: 35px;
        }
      }
    }
  }
}
