<div class="container">
  <div class="hero-header row">
    <div class="left-content col-sm-6 col-md-6 col-xs-6 col-lg-6">
      <div>
        <h1>
          Lorem ipsum dolor sit amet consec adipis elit. Veniam, qui.
        </h1>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum
          dolorem odio eligendi saepe impedit, voluptas vero sit rem repellat
          nulla odit suscipit cum id provident unde quaerat? Delectus dolore
          praesentium sint ipsum a quam unde laboriosam fugiat, voluptatibus,
          atque quidem?
        </p>
        <a href="/" class="Demo-button">Request Demo</a>
      </div>
    </div>
    <div class="right-content col-sm-6 col-md-6 col-xs-6 col-lg-6">
      <div class="image-container">
        <img src="assets/hero-right-img.png" alt="" />
      </div>
    </div>
  </div>
  <div class="player col-12">
    <div class="content">
      <div class="deco-up">
          <img src="assets/mac-buttons.png" alt="">
      </div>
      <img class="hero-gif-bottom col-12" src="assets/herogif.gif" alt="" />
    </div>
    </div>
</div>
