<div class="section">
  <div class="hero-header container">
    <div class="hero-left">
      <div class="col-12 col-md">
        <h1
          class="align-left display-2 mbr-section-title mbr-fonts-style mbr-white text-bold"
        >
          Lorem ipsum dolor sit amet consec adipis elit. Veniam, qui.
        </h1>
        <p class="display-7 align-left mbr-text mbr-fonts-style">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum
          dolorem odio eligendi saepe impedit, voluptas vero sit rem repellat
          nulla odit suscipit cum id provident unde quaerat? Delectus dolore
          praesentium sint ipsum a quam unde laboriosam fugiat, voluptatibus,
          atque quidem?
        </p>
        <a href="/" class="Demo-button">Request Demo</a>
      </div>
    </div>
    <div class="hero-right">
      <div class="image-container">
        <img src="assets/hero-right-img.png" alt="" />
      </div>
    </div>
  </div>
  <div class="player">
    <div class="deco-up">
      <div class="mac-button">
        <img src="assets/mac-buttons.png" alt="">
      </div>
    </div>
    <img class="hero-gif-bottom" src="assets/herogif.gif" alt="" />
  </div>
</div>
