<div class="timeline-section" *ngFor="let i of [1, 2, 3, 4, 5]">
  <div class="timeline-element container">
    <div class="counter-section">
      <div class="pseudo-icon">
        <strong>{{ i }}</strong>
      </div>
    </div>
    <div class="timeline-content row">
      <div class="timeline-right col-6">
        <div class="content-element">
          <img src="assets/chat-bot.gif" alt="" />
        </div>
      </div>
      <div class="timeline-left col-6">
        <div class="content-element-text">
          <h1><strong>Lorem, ipsum dolor.</strong></h1>
          <h1>Lorem ipsum dolor sit.</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="FinalStep">
  <h1>Final Step</h1>
  <h2>Lorem ipsum dolor sit amet consectetu</h2>
</div>
