.social-post{
  margin: 80px 50px;
  font-family: "Montserrat", sans-serif;
  h1{
    text-align: center;
    text-decoration: underline;
  }
    .section{
      margin: 60px 60px;
      .content{
        color: gray;
        text-align: center;
        img{
          width: 52%;
          border: 7px grey solid;
          border-radius: 10px;
        }
      }
    }
}

@media screen and (max-width: 696px) {
  .content{
    .text{
      h2{
        font-size: medium;
        font-weight: 800;
      }
    }
  }
}