<div class="Centered-content">
    <div class="web">
        <h1><strong>Lorem ipsum dolor sit amet.</strong></h1>
        <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h5>
        <img src="/assets/cloud.png" alt="">
        <h4>Lorem ipsum dolor sit amet consectetur.</h4>
    </div>
    <div class="services" *ngFor="let i of [1,2,3]" >
    <div class="name-tag">
        <h6>Lorem ipsum dolor.</h6>
    </div>
    <div class="tool">
        <img src="assets/tableau.png" alt="">
        <img src="assets/tableau.png" alt="">
        <img src="assets/tableau.png" alt="">
    </div>
</div>
</div>